select
{
	cursor:pointer;
}
#mainContent{
	
	position: relative; width: 100%; height: 200px; padding:1% 2%; overflow:hidden;
	border-radius:10px;
	background-color:#B5B5B5;
}
 th, td{
	border-right:1px solid #C4C4C4;
	border-bottom:1px solid #C4C4C4;
}