select
{
	cursor:pointer;
}
#mainContent{
	position: relative; width: 100%; height: 500px; padding:1% 2%; overflow:hidden;
	border-radius:10px;
	overflow-x:hidden;
	overflow-y:auto;
}
th, td{
	border-right:1px solid #C4C4C4;
	border-bottom:1px solid #C4C4C4;
}

a:link, a:visited{text-decoration:none; color:#416CE5; border-bottom:1px solid #416CE5;}
h2{font-size:13px; margin:15px 0 0 0;}

.error-control{
	background-color:#FFABAB;
}
#currentCondition{
	margin:10px;
	float:right;
}
#back{
	background-color:#D4D4D4;
	border:1px solid black;
	border-radius:10px;
	float:right;
	padding:5px;
}
#back:hover{

	position:relative;
	top:3px;
	left:3px;
	cursor:pointer;
}

#tabs-1,#tabs-2,#tabs-3,#tabs-4,#tabs-5{
	height:800px;
}
